@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1, h2 {
    font-weight: bolder;
}

p {
    font-size: 18px;
    font-weight: 500;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

a {
    text-decoration: none;
    color: #6d94c5;
}

a:hover {
    text-decoration: underline;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.linkContainer > h2 {
    margin-bottom: 10px;
}

code {
    padding: 1px;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
    background-color: #f5efe6;
    color: #6d7275;
    font-family: monospace;
    font-size: 16px;
}